{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "_": true
  },
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "rules": {
    "no-debugger": "error",
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": ["0", { "forbid": ["any"]}],
    "no-unused-vars": 0,
    "no-useless-constructor": 0,
    "no-console": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,
    "import/no-extraneous-dependencies": 0,
    "max-len": [2, 200, 2, {"ignoreUrls": true}],
    "import/prefer-default-export": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}